# Dependencies (NEVER upload to GitHub)
node_modules/
**/node_modules/

# ML Models & Heavy Datasets
*.pth
*.pt
*.bin
*.onnx
ml/dataset/

# Build & System Files
.expo/
dist/
build/
.DS_Store
*.swp

# Environment & Keys
.env
.env.*
!.env.example
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDE & Editor Settings
.idea/
.vscode/
*.orig.*
veda/